  <h1>Angular Router</h1>
  <button md-button>FLAT</button>
  <button md-raised-button>RAISED</button>
  <button></button>
  <button md-raised-button color="primary">PRIMARY</button>
  <button md-raised-button color="accent">ACCENT</button>
  <button md-raised-button color="warn">WARN</button>
  <nav>
    <a routerLink="/spring-boot-hello" routerLinkActive="active">Spring Boot Hello</a>
    <a routerLink="/HomeComponents" routerLinkActive="active">Homeplplpll</a>
  </nav>
  <router-outlet></router-outlet>
